*  {
    box-sizing: border-box;
}
body, html {
    display: block;
    margin: 0px;
    padding: 0px;
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    color: #262424;
    text-shadow: 0px 1px #262424;
}
a {
    text-decoration: none;
}
h2 {
    font-weight: bold;
    font-size: 49px;
}
p {
    padding: 0px;
    margin-top: 0px;
}
.wrapper {
    overflow: hidden;
    min-width: 100%;
}
.container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
/*header;*/

.header__container {
    min-height: 77px;
    padding-top: 15px;
    color: #ffffff;
}
header {
    background-color: #5973b1;
    margin-bottom: 10px;
}
.header__logo {
    display: inline-block;
    width: 49%;
    text-align: left;
}
.logo__image {
    display: block;
}
.contacts{
    display: inline-block;
    width: 49%;
    text-align: right;
}
.contacts__phone {
    display: block;
    color: inherit;
    font-size: 21px;
    font-weight: bold;
}
.contacts__opentime {
    display: block;
    color: inherit;
    text-decoration: underline;
    font-size: 14px;
    opacity: 0.7;
}
.contacts__opentime:hover {
    opacity: 1;

}
/*main*/

.content, .sidebar {
    display: inline-block;
    vertical-align: top;
    padding-right: 35px;
}
.sidebar {
    width: 195px;
}
.content {
    width: 900px;
}
.banner {
    margin-bottom: 15px;
}
.banner__image {
    width: 100%;
    height: 100%;
}
ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.plan {
    display: inline-block;
    width: 248px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 35px;
    vertical-align: top;
    text-align: center;
    line-height: 1.67;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 2%;
}
.plan--active {
    border: 1px solid #e8e8ec;
}
.plan :last-child {
    margin-right: 0px;
}
.plan__name {
    font-size: 11px;
    font-weight: bold;
    line-height: 4.68;
}
.plan__description>li {
    list-style-type: disc;
    text-align: left;
}
.plan__image {
    background-color: #5972b1;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.plan__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price {
    color: #252525;
}
.price__number {
    font-size: 54px;
    line-height: 2;
    font-family: "Roboto-Regular";
}
.price__currency {
    font-size: 34px;
}
.newsblock__cover {
    display: inline-block;
    width: 160px;
    height: 160px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}
.newsblock__content {
    display: inline-block;
    width: 644px;
    padding-left: 20px;
    vertical-align: top;
}
.newsblock__text {
    padding-left: 0px;
    font-weight: 300;
    font-size: 18px;
    color: #262424;
}
.news__title {
    margin-bottom: 40px;
}
data {
    font-weight: 300;
    font-size: 14px;
    color: #656464;
}
.newsblock__title {
    font-weight: bold;
    font-size: 18px;
    color: #262424;
}
.newsblock__item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f4f4f4;
}
.news__feed :last-child {
    border-bottom: none;
}
.pagination {
    text-align: center;
    margin-bottom: 50px;
    color: #262424;
}
.pagination__item, .pagination__info, .pagination__control, .pagination__items {
    display: inline-block;
    height: 25px;
}
.pagination__item {
    width: 25px;
    height: 25px;
    color: #262424;
    background-color: #5972b1;
    background: transparent;
    border-radius: 5%;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
.pagination__item--active {
    color: #ffffff;
    background-color: #5972b1;
}
.pagination__item:hover {
    background-color: #a6b2d1;

}
.pagination__info {
    font-size: 14px;
    font-weight: 300;
    padding-right: 15px;
    height: 25px;
    width: 120px;
    vertical-align: text-bottom;
}
.pagination__link, .pagination__left, .pagination__right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*sidebar*/
.menu__item {
    margin-bottom: 30px;
}
.menu__list {
    margin-top: 50px;
}
.menu__link {
    font-weight: 700;
    font-size: 12px;
    color: #5972b1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menu__link:hover {
    color: #262424;
}
.menu__link:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.menu__link--main:before {
    background-image: url(./main_icon.png);
}
.menu__link--reviews:before {
    background-image: url(./feed_icon.png);
}
.menu__link--reviews:hover:before {
    background-image: url(./feed_icon_black.png);
}
.menu__link--team:before {
    background-image: url(./team_icon.png);
} .menu__link--team:hover:before {
    background-image: url(./team_icon_black.png);
} 
.menu__link--active {
    color: #262424;
}




/*footer*/
.footer {
    background-color: #5973b1;
    color: #ffffff;
    padding-top: 10px;
}
.footer__copyright, .footer__logo, .socials {
    display: inline-block;
    width: 33%;
    vertical-align: text-top;
}
.footer__copyright {
    text-align: left;
    padding: 0px 50px 0px 25px;
}
.loftschool__link {
    text-decoration: underline;
    color: #ffffff;
}
.footer__logo {
    text-align: center;
    padding-left: 125px;
}
.socials {
    text-align: right;
    padding-right: 25px;
}
.socials__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #d4ddf2;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}
.socials__item:hover {
    background-color: #ffffff;
}
.socials__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

