.reviews__list {
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    height: 325px;
    width: 275px;
    position: relative;
}

.reviews__photo {
    filter: grayscale(1);
}

.reviews__content {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: column;
    height: 325px;
    align-items: flex-start;
    padding: 50px 20px;
    color: #ffffff;
}

.reviews__btm {
    background-color: #2f3234;
    width: 110px;
    height: 37px;
    border-radius: 5px;
    padding: 12px 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.reviews__btm:hover {
    background-color: #1f2122;
}

.reviews__name {
    font-family: Gagalin Regular;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.reviews__text {
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
    text-align: left;
}