.we-container {
  background-image: url(../../icons/we_bg.png);
}

.we__title {
  text-align: center;
  font-family: Gagalin Regular;
  font-size: 72px;
  padding-top: 135px;
  margin-bottom: 50px;
}

.we__content {
  padding: 0 25px;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.list__item {
  max-width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__image {
  margin-bottom: 30px;
}

.list__title {
  font-family: Lifehack Medium;
  font-size: 24px;
  margin-bottom: 25px;
}

.list__description {
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  opacity: 0.8;
}