@charset "UTF-8";
.welcome-container {
  background-image: url(/icons/video-bg.png);
  border: 1px solid #ffffff;
}

.welcome-container:before {
  content: "";
  background-image: url(/icons/texture.png);
}

.header__container {
  display: flex;
  /*justify-content: space-between;*/
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  padding: 15px 80px;
}

.header__logo {
  width: 100px;
}

.header__menu {
  /*width: 700px;*/
  margin-left: auto;
}

.header__btm {
  width: 100px;
}

.menu {
  display: flex;
  /*justify-content: space-around;*/
  margin-right: 10px;
}

.menu__item {
  /*width: 100px;*/
  padding-left: 10px;
}

.menu__item:after {
  content: "•";
  display: inline-block;
  padding-left: 10px;
  /*height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #ffffff;*/
}

.menu :last-child:after {
  display: none;
}

.header__btm {
  background-color: #e45028;
  border-radius: 5px;
  padding: 12px 15px;
  text-align: center;
}

/*page1    */
.content {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  width: 50px;
}

.main {
  flex: 1;
  padding-left: 80px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.welcome__image {
  width: 450px;
  background-image: url(/icons/drops.png);
}

/*.welcome__burger :before {
    content: '';
    background-image: url(/icons/drops.png);
    top: 20px;
}*/
.welcome__slogan {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__text-1 {
  font-family: Gagalin Regular;
  font-size: 72px;
  font-weight: normal;
  letter-spacing: normal;
  color: #f9b43b;
}

.welcome__text-2 {
  font-family: Lifehack Medium;
  font-size: 65px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -1.63px;
  text-align: left;
  color: #ffffff;
}

.control {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}