.crew {
    margin-bottom: 50px;
}
.crew__title {
    font-size: 49px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 40px;
}
.crew__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: -20px;
    margin-bottom: 0px;
}
.crew__item {
    width: 32%;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 40px;

}
.profile {
    display: flex;
    flex-direction: column;
}
.profile__content {
    display: flex;
    flex-direction: column;
    line-height: 21px;
}
.profile__name {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.profile__occupation {
    font-weight: bold;
    font-size: 14px;
    color: #5972b1;
    text-align: center;
}
.profile__text {
    width: 100%;
    text-align: center;
    line-height: 1.5;
}
.profile__avatar {
    margin: auto;
    background-image: url(../../overlay.png);
    position: relative;
    margin-bottom: 20px;
}
.profile__avatar:before {
    content: "";
    width: 165px;
    height: 165px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #5972b1;
    opacity: 0.5;

}
.profile__avatar-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
