.footer {
    background-color: #5973b1;
    color: #ffffff;
    padding-top: 10px;
    margin-bottom: -80px;
}
.footer__container {
    display: flex;
}
.footer__copyright, .footer__logo, .socials {
    width: 33%;
}
.footer__copyright {
    text-align: left;
    padding: 0px 50px 0px 25px;
}
.loftschool {
    text-decoration: underline;
    color: #ffffff;
}
.creator {
    font-weight: bold;
}
.footer__logo {
    text-align: center;
    padding-left: 125px;
}
.socials {
    text-align: right;
    padding-right: 25px;
}
.socials__list {
    display: flex;
    justify-content: flex-end;
}
.socials__item {
    width: 20px;
    height: 20px;
    background-color: #d4ddf2;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}
.socials__list :last-child {
    margin-right: 0px;
}
.socials__item:hover {
    background-color: #ffffff;
}
.socials__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}