.footer {
    background-color: #5973b1;
    color: #ffffff;
    padding-top: 10px;
    margin-bottom: -80px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    width: 33%;
}
.footer__copyright {
    text-align: left;
    padding: 0px 50px 0px 25px;
}
.loftschool {
    text-decoration: underline;
    color: #ffffff;
}
.creator {
    font-weight: bold;
}
.footer__logo {
    display: inline-block;
}
.logo__footer {
    margin: 0px;
}
