.header__container {
    min-height: 77px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: #5973b1;
    margin-bottom: 20px;
}
