.hotline {
    background-color: #5973b1;
    margin-bottom: 60px;
    background-image: url(../../pattern.png);
}
.hotline__container {
    opacity: 0.75;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    letter-spacing: normal;
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.hotline__info {
    font-size: 18px;
    /*color: #ffffff;*/
    /*font-weight: lighter;*/
}
.hotline__phone {
    font-weight: bolder;
}
.hotline__request {
    font-weight: bolder;
    text-decoration: underline;
}