.hotline {
    background-color: #76b46f;
    margin-bottom: 60px;
    background-image: url(../../pattern.png);
}
.hotline__container {
    height: 170px;
    opacity: 0.75;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
.hotline__info {
    padding: 47px 222px 44px 200px;
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
}
.hotline__phone {
    font-weight: bolder;
}
.hotline__request {
    font-weight: bolder;
    text-decoration: underline;
}