.partners {
    margin-bottom: 90px;
}
.partners__title {
    font-size: 49px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 42px;
}
.partners__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    align-items: center;
}
.partners__item {
    width: 33%;
    cursor: pointer;
}
.partners__logo {
    margin: auto;
    max-width: 160px;
    padding: 25px 0px;
}
.partners__image {
    filter: grayscale(1);
}
.partners__image:hover {
    filter: none;
}