.partners {
    margin-bottom: 40px;
    border: solid 1px #f4f4f4;
    border-radius: 3px;
}
.partners__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 2.11;
    margin-bottom: 40px;
    padding-top: 28px;
    text-transform: uppercase;
}
.partners__list {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}
.partners__item {
    cursor: pointer;
}
.partners__logo {
    margin: auto;
    max-width: 160px;
    padding-bottom: 30px;
}
.partners__image {
    filter: grayscale(1);
}
.partners__image:hover {
    filter: none;
}